# Server Configuration
PORT=3000
NODE_ENV=development

# Storage Configuration
STORAGE_DIR_NAME=donations
MAX_FOLDER_SIZE_MB=500 # 500MB
MAX_FILE_SIZE_MB=2  # 2MB

# Security Configuration
ENSURE_UNIQUE_DONATIONS=true

# Access key
ACCESS_KEY=your_secure_access_key_here